
<%= render 'welcome/header' %> <br><br><br><br><br>
<div class="container">
        <h1 class="notice"> E-mail has been sent! </h1>
        <div class="back-button">
                <%= button_to 'Back', client_path, {:id => "back_to_client"} %>
        </div>
</div>
