<%= render "welcome/header"  %><br><br><br><br><br>
<div class="container">
<h1>Edit Generator Expenses</h1>

<%= render 'form' %>

<%= link_to 'Show', @gen_expense %> |
<%= link_to 'Back', gen_expenses_path %>
</div>
