<h3>Greetings from Amrit Engineers!</h3>

<p>Madam / Sir,</p>

<p>Please find herewith the attached quotation.<br><br>

For any assitance, please feel free to contact us.<br><br>

Regards,<br><br>

Jasvir Singh Sond,<br>
<b>Amrit Engineers</b>,<br><br>
Mobile: +9198140-09500<br>
Website: http://sample.com<br>
</p>
