<%= render 'welcome/header' %> <br>
<div class="container">
<section class="quotationSection">
    <div class="quotationForm">
    <h2 class="fillForm">Edit Bank</h2>
    <br>
<%= link_to 'Back', banks_path %>

<%= render 'form' %>

    </div> 
</section>
</div>
