<section class="landingPage">    
    <div class="content">
        <div class="box">
            <div class="main-heading" id="main-heading">Welcome to</div>
            <!--%= #image_tag("amrit_logo.png", :class => "amrit-logo", :alt => "amrit engineers logo") %-->
            <div class="amrit" >Rental Business Management System</div> 
            <div class="eng" >Smarter way to control your business</div> 
            <p style="text-align: center;"><a href="/login"><button class="enter">Proceed to Dashboard</button></a></p>
        </div>
    </div>
</section>
