<%= render 'welcome/header' %> <br>
<div class="container">
    <section class="quotationSection">
        <div class="quotationForm">
            <h2 class="fillForm">Editing Generator Availability</h2>
            <%= link_to 'Back', gen_details_path %>
            <div style="text-align: center;"> <%= render 'form' %></div>
        </div> 
    </section>
</div>
